*.class
.class

.properties

.idea
.gradle
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!/gradle/**/*.jar

.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeans build, dist and local dirs
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse configuration and build output
.project
.classpath
/.settings/
/bin/

